.rag-panel {
  display: flex;
  flex-direction: column;
  height: 100%;;

  .rag-options {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
  }
}

.rag-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.chart-demo-selection {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 8px;
  background: #f0f8ff77;

  .chart-demo {
    margin: 8px;
    padding-top: 10px;
    background: #fff;
    box-shadow: 0 6px 20px #0098e426;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    

    img {
      margin: auto;
      width: 120px;
    }

    .chart-title {
      padding-left: 8px;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      background: linear-gradient(0deg, #f6f8fe00, #f6f8fe);
    }
  }
}
.vchart-container {
  width: 65%;
  flex: 1;
  display: flex;
  flex-direction: column; 
  padding: 8px;
  overflow: hidden;
  min-height: 0;
  
  #chart {
    flex-grow: 1;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
  }

  .selection {
    flex-shrink: 0;
    padding: 8px;
    direction: rtl;
  }
}

.right-container {
  width: 35%;
  height: 100%;
  display: block;
  background: #f5f5f5;
}

.spec-editor {
  height: 100%;
  overflow: hidden;

  .editor-container {
    height: 100%;
    overflow: hidden;
    padding: 2.5%;
  }
}

.query-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  .query-input {
    flex-shrink: 0;
    display: flex;
    position: relative;
    padding: 12px;
    border-top: 1px #e5e5e5 solid;

    svg {
      width: 20px;
      height: 20px;
      color: #00000073;
    }
    svg:hover {
      cursor: pointer;
    }
  }
}

.dialog {
  padding: 12px;
  overflow: scroll;
}

.dialog-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 0;
  align-items: center;

  .diaglog-content {
    background: #fff;
    font-size: 12px;
    line-height: 18px;;
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 8px;;
    overflow: auto;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin: 0 4px;
      width: 16px;
      height: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.user {
    flex-direction: row-reverse;
  }
}

.qa-card {
  margin: 8px 0;
  height: 220px;
  overflow: scroll;
  .qa-div {
    margin-bottom: 4px;
  
    .title {
      font-size: 14px;
      font-weight: 500;
      color: #222;
      margin-left: 0;
    }
  
    span {
      margin-left: 12px;
    }
  }
}